<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
    <h2> This is home page</h2>

    {% if user.is_authenticated %}
        <p>Welcome {{ user.username }} !!!</p>
        <p><a href="{% url 'change_password' %}">Changepassword</a> </p>
        <p><a href ="{% url 'logout' %}" >Logout</a></p>
    {% endif %}

</body>
</html>